<h1>Welcome to stupid coaching</h1>
<h2>Ask you coach anyhthing</h2>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Escribe tu pregunta">
  <input type="submit" value="Ask!">
</form>
