<h1>Welcome to stupid coaching</h1>
<h3>Ask you coach anyhthing</h3>
<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" name="question" placeholder="Escribe tu pregunta">
    <input type="submit" value="Ask!" id="basic-addon2" class="btn btn-primary">
  </div>
</form>
